@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address>
    299 Doon Valley Drive<br />
    Kitchener, Ontario N2G 4M4<br />
    <abbr title="Phone">P:</abbr>
    519-748-5220
</address>

<address>
    <strong>Marcus Suto Fernandes:</strong>   <a href="mailto:msutofernandes2153@conestogac.on.ca">Msutofernandes2153@conestogac.on.ca</a><br />
    <strong>Uguralp Onbasli:</strong> <a href="mailto:Uonbasli8416@conestogac.on.ca">Uonbasli8416@conestogac.on.ca</a><br />
    <strong>Tri Quang Pham:</strong> <a href="mailto:qpham0220@conestogac.on.ca">Qpham0220@conestogac.on.ca</a>
</address>